<nav class="nav-wrapper">
  <div class="nav-btn-wrapper">
    <a class="nav-btn" routerLinkActive="highlight" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    <a class="nav-btn" routerLinkActive="highlight" routerLink="/portfolio">Portfolio</a>
    <a class="nav-btn" routerLinkActive="highlight" routerLink="/profile">Profile</a>
  </div>
  <div class="nav-alt-btn-wrapper">
    <a class="nav-alt-btn" routerLinkActive="highlight">Sign Up</a>

  </div>
</nav>

<router-outlet></router-outlet>