/* You can add global styles to this file, and also import other style files */

:root {
    --nav-height: 70px;
    --color-flamingo: #EE4540;
    --color-brick-red: #C72C41;
    --color-claret: #801336;
    --color-cab-sav: #510A32;
    --color-tamarinf: #2D142C;
}

main {
    background: #f7f7f7;
    height: calc(100% - var(--nav-height));
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}